/* Add CSS Styling */
.odd {
    background-color: pink;
    font-family: 'Verdana','DejaVu Sans','sans-serif';
}
#second{
    color: blue;
    font-size: 36px;
}
.odd.third{ 
    font-size: 24px;
}
#four{
    background-color: lawngreen;
    font-size: 24px;
    font-weight: bold;
}